body {
    font-family: 'Consolas', monospace;
  }

*{
    margin: 0;
    padding: 0;
}

.bg-img {
  background-image: url("/static/icons/mapImage.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  background-color: #063433  ;
}
  
.container {
    position: absolute;
    margin: 20px;
    width: auto;
    right: 0;
  }
  
  .topnav {
    overflow: hidden;
    display: flex; 
    justify-content: flex-end; 
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white; /* Specify underline color */
  }